@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

div.list-planet-screen {
    color: azure;
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.list-planet-screen > div.list-planet-screen__planet-card {
    color: azure;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}