@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
div.list-screen {
    color: azure;
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    text-align: center;
    overflow-x: hidden;

}

div.list-screen > div.list-screen__personagem {
    color: azure;
    display: flex;
    flex-wrap: wrap; 
    overflow-x: hidden;
    justify-content: space-evenly;
}

div.list-screen > div.list-screen__planet-card {
    color: azure;
    display: flex;
    flex-wrap: wrap; 
    overflow-x: hidden;
    justify-content: space-evenly;
}

div.list-screen > div.list-screen__vehicle-card {
    color: azure;
    display: flex;
    flex-wrap: wrap; 
    overflow-x: hidden;
    justify-content: space-evenly;
}

