@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

div.app {
  width: auto;
  height: 100vh;
  overflow-x: hidden;
  background-image: url("https://uhdwallpapers.org/uploads/converted/19/01/13/storm-trooper-from-starwars-1366x768_949965-mm-90.jpg");
}

div.app > div.app__header{
  background-color: #01010a;
  height: 2em;
  color: #ffffff;
  text-align: right;
  padding: 1em;
  font-family: 'Orbitron', sans-serif;
  width: auto;
}
div.app > div.app__header > div.app__app-header__app-header-simbol{
  text-align: left;
  display: flex;
  flex: 1;
  margin-top: -1.5em;
  color: #ffffff;
  font-size: x-large;
  font-family: 'Orbitron', sans-serif;
}

div.app > div.app__pages { 
  width: 100vw;

}