@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

div.app {
  width: 100vw;
  background-color: #020111;
  height: 100vh;
  
}

div.app > div.app__header{
  background-color: #0a0a0a;
  height: 2em;
  color: #ffffff;
  text-align: right;
  padding: 1em;
  font-family: 'Orbitron', sans-serif;
}
div.app > div.app__header > div.app__app-header__app-header-img {
  text-align: left;
  display: flex;
  flex: 1;
  margin-top: -1.5em;
  color: #ffffff;
  font-size: x-large;
  font-family: 'Orbitron', sans-serif;
}

div.app > div.app__pages { 
  width: 100vw;

}