@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
div.list-people-screen {
    color: azure;
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.list-people-screen > div.list-people-screen__personagem-card {
    color: azure;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    
}
/* 
div.list-screen > div.list-screen__planet-card {
    color: azure;
    display: flex;
    flex-wrap: wrap; 
    overflow-x: hidden;
    justify-content: space-evenly;
}

div.list-screen > div.list-screen__vehicle-card {
    color: azure;
    display: flex;
    flex-wrap: wrap; 
    overflow-x: hidden;
    justify-content: space-evenly;
} */

